@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

@font-face {
    font-family: 'poppins';
    src: url('../preciosa-crianca/font/Poppins/Poppins-Regular.ttf') format('truetype');
}

body{
    background-color: #F4DECB;
}

header{
    background-color: #F4DECB;
    max-width: 100%;
    min-height: 40px;
    max-height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}



a{
    padding-right: 4px;
    font-family:'poppins';
}